<div class="container">
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Home</a>
    </div>
</nav>

  <h2>Ticker</h2>

  <div class="jumbotron">

    
  </div>

  <h2>Graph</h2>

  <div class="jumbotron">
  </div>

  <h2>Trade Log</h2>
  <div class="jumbotron">
    </div>

  <h2>Orderbook</h2>
  <div class="jumbotron">
    </div>








</div>