<div class="container-fluid">
  
    <img width="300"  alt="Prj Logo" src="../assets/2cbDR9FY_400x400.jpg">

<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Home</a>
   
</nav>    

  <div class="jumbotron">

  <div class="panel panel-primary"> </div>
<div style="text-align:center">
  <h1 >
    {{ title }}
  </h1>

  <h5>
    <i>"Bringing ideas to Life" </i> 
  </h5>
</div>
</div>
<h2> </h2>
<button class="btn-outline-primary btn-sm  badge-pill" id="b1" [routerLink]="['main']" ngbTooltip="I'll always show you the right price of coins" placement="left">Check Currencies</button>
<button class="btn-outline-info btn-sm  badge-pill" id="b2" [routerLink]="['live']" ngbTooltip="Take a look at the live currency" placement="right">Check Live Data</button>


<router-outlet></router-outlet>

</div>