<div class="container">


<h1 style="margin-left: 40%">
  Currencies
</h1>

<table class="table table-bordered table-info ">
  <thead>
    <tr>
      <th>Currency</th>
      <th>Last Price</th>
      <th>24h Volume</th>
      <th>24h Pct Change</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of values">
      <td><a [routerLink]="['/detailed']"> {{value.symbol}} </a></td>
      <td>{{value.lastPrice}}</td>
      <td>{{value.priceChange}}</td>
      <td>{{value.priceChangePercent}}</td>
    </tr>
   
  </tbody>
</table>

</div>