
<div class="container">

<br><br><br><br>
<h1 class="display-1 badge-primary" >
  Currencies
</h1>

<table class="table table-bordered table-info badge-primary">
  <thead>
    <tr class="font-weight-bold font-italic">
      <th>Currency</th>
      <th>Last Price</th>
      <th>24h Volume</th>
      <th>24h Pct Change</th>

    </tr>
  </thead>
  <tbody>

    <tr class="badge-pill " (click)="onSelect(value)" *ngFor="let value of values">
      <td  class="font-weight-bolder" [routerLink]="['/detailed']"> {{value.symbol}} </td>
      <td>{{value.lastPrice}}</td>
      <td>{{value.priceChange}}</td>
      <td>{{value.priceChangePercent}}</td>
    </tr>
   
  </tbody>
</table>

</div>